.house-card{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gryffindor {
    background: url('/gryffindor-room.webp') no-repeat center center fixed;
    background-size: cover;
}

.slytherin{
    background: url('/slytherin-room.webp') no-repeat center center fixed;
    background-size: cover;
}

.hufflepuff {
    background: url('/hufflepuff-roomjpg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.ravenclaw{
    background: url('/ravenclaw-room.jpg') no-repeat center center fixed;
    background-size: cover;
}

.card-box{
    display: flex;
    height: 500px;
    width: 75vw;
    flex-wrap: wrap;
    gap: 10px;
}

.person-card {
    /* width: 200px; */
    height: 250px;
    flex: 1 1 152px;
    background: rgb(17, 15, 15);
    padding: 10px;
    border-radius: 10px;
}

.person-card img{
    width: 100%;
    height: 87%;
    object-fit: cover;
    border-radius: 10px;
}

.person-card p {
    margin: 0;
    font-weight: bold;
}
