.main-container {
  /* margin: 0; */
  height: 100vh;
  width: 100vw;
  background: url("/src/assets/intro-background.jpg") no-repeat center center
    fixed;
  background-size: cover;
}

.logo-box {
  padding-top: 13vh;
}

.housecards-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-box {
  font-weight: bold;
  font-size: 1.5rem;
  width: 50vw;
}

.info-box > :first-child {
  color: black;
  margin-top: -1rem;
  margin-bottom: 0.1rem;
  font-size: 1.4rem;
}

.info-box p {
  margin-top: 0;
}

.housecards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card img {
  width: 115px;
}

.card:hover {
  transform: scale(1.4);
}
